.mb-3{
    padding: 20px;
    border: 2px solid black;
    width: 30%;
    border-radius: 10px;
    text-align: left;
    background-color: transparent;
    color: floralwhite;
}
.btnwrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.invalid-feedback{
    display: block;
}